.galeria{
  display:grid;
  background-color:#F29B8A;
  grid-template-columns:1fr 1fr 1fr;
  gap:16px;
}

.galeria img{
  width:100%;
  height:250px;
  object-fit:cover;

}

.texto-especial{
  background-color:white;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.texto-especial h2{
  margin:0 0 10px 0;
  font-size: 18px;
}

.texto-especial p{
  margin:0;
  font-size:14px;
